<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Day 15 Vue JS Basics</title>
</head>
<body>
    <div class="navbar"></div>
    <main>
        <div id="app">
            <div class="product">
                <div class="prod-img">
                    <img v-bind:src="img" alt="">
                </div>
                <div class="prod-info">
                    <h2>{{title}}</h2>
                    <p v-if="inventory >= 100">In Stock</p>
                    <p v-else-if="inventory < 10 && inventory >0">Almost sold out</p>
                    <p v-else>Out of Stock</p>

                    <ul>
                        <li v-for="detail in details">{{ detail }}</li>
                    </ul>
                        
                    <div v-for="(variant,index) in variants" 
                        :key="variant.variantId"
                        class="color-box"
                        :style="{backgroundColor: variant.variantColor}"
                        @mouseover="updateProduct(index)">
                    </div>

                </div>
                <div>
                    <!-- <button @click="cart++">Add to Cart</button> -->
                    <button @click="addToCart"
                    :disabled="!inventory"
                    :class="{ disabledBtn: !inventory}" >Add to Cart</button>
                    <div class="cart">
                        <p>Cart({{cart}})</p>
                    </div>
                </div>
            </div>
            
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="app.js"></script>
</body>
</html>